ORIGIN_NAME=Pottschach
TRANSFER_NAME=Wien Meidling
DEST_NAME=Wien Westbahnhof
ORIGIN_ID=8100173
TRANSFER_ID=1290401
DEST_ID=1190100
POLL_INTERVAL_MIN=5
LOOKAHEAD_MIN=90
SIMULATE_HAFAS=0
RETURN_DIRECTION_KEYWORDS=Pottschach,Wr. Neustadt,Mürzzuschlag,Payerbach
